<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
  <link rel="stylesheet" href="/styles.css" type="text/css">
	<title>Bucket List</title>
</head>

<body id="postSubmit">
  <div class="centered">
    <div class="blockquote-wrapper">
      <div class="blockquote">
        <h1>
          <%- text %>
         </h1>
        <h4>&mdash;<%- from %><br></h4>
      </div>
    </div>
    <form action="/" method="get">
      <input type="submit" class="button2 marginExtra" value="Home" class="button"/>
    </form>
  </div>

  </div>
  
  </div>
  
</body>

</html>
